body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	section{
		height: 100vh;
		font-family: 'Kumbh Sans', sans-serif;
		position: relative;
		background:  linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%) );
		@media only screen and (max-width: 936px){
			height:100%;
		}
		.row{
			.faq-card{
				position: relative;
				margin: 20vh 20%;
				
				width: 60%;
				background-color: white;
				border-radius: 1.7rem;
				grid-template-columns: 50% 50%;
				display: grid;
             @media only screen and (max-width: 1350px){
             	width:70%;
             	margin: 18.8vh 15%;
             }
              @media only screen and (max-width: 1150px){
             	width:80%;
             	margin: 18.8vh 10%;
             }
 
  			 @media only screen and (max-width: 1000px){
             	width: 84%;
				margin: 18.8vh 8%;
             }
              @media only screen and (max-width: 936px){
             	display:flex;
             	flex-direction:column;
             	width: 70%;
				margin: 16vh 15%;

             }
             @media only screen and (max-width: 482px){
             	width: 80%;
				margin: 17vh 10%;
             }
                .faq-img-mobile{
                	display: none;
                	@media only screen and (max-width: 936px){
                		display:flex;
                		justify-content: center;
                		position: relative; 
					
                	}
                }
                	.faq-img-mobile::after{
			        display: none;
                	content: url('./images/illustration-woman-online-mobile.svg');
                	@media only screen and (max-width: 936px){
						display:block;
						position: absolute;
						left: calc(50% - 145px);
						top:-100%;
					}
                }


				.faq-img-desktop{
					position: relative; 
					background: url(' ./images/bg-pattern-desktop.svg');
					background-position: top 68% left 116%;
					overflow: hidden;
					background-repeat: no-repeat;
					@media only screen and (max-width: 936px){
						display:none;
					}
				}
				
				.faq-text{
					padding: 4rem;
					@media only screen and (max-width: 580px){
						padding:4rem 1.5rem;
					}
					@media only screen and (max-width: 580px){
						padding:4rem 1rem;
					}
					.faq-title{
						color:hsl(238, 29%, 16%);
						padding-bottom: 2rem;
						@media only screen and (max-width: 936px){
						text-align:center;
					    }
						h1{
							font-family: 'Kumbh Sans' !important;
							font-weight: 700;
						}
					
					}
					.faq-box{
						position: relative;
						transition: all 0.5s ease-in-out 0s;
						padding-bottom: 0.65rem;
						.questions{
							position: relative; 
							transition: all 0.4s ease-in-out 0s;

							padding-bottom: 14px;
							font-size: 14px;
							a{
								position: relative;
								display: block;
								text-decoration: none;
								color: hsl(237, 12%, 33%);
								transition: all 0.1s ease-in-out 0s;
								@media only screen and (max-width: 364px){
									max-width:90%;
								}
								
							}
						
						}
						.questions:hover a{
							color: hsl(14, 88%, 65%);
						}
						.questions::before{
						    content: url('./images/icon-arrow-down.svg');
							position: absolute;
							top: 30%;
							transform: translateY(-50%);
							transition: all 0.5s ease-in-out 0s;
							right: 5%;
						}
						.ans{
							position: relative;
							height: 0px;
							overflow: hidden;
							overflow-y: auto;
							transition: all 0.5s ease-in-out 0s;
						}
					}
					.faq-box::after{
						content: '';
						display: block;
						width: 100%;
						height: 1.25px;
						background-color: hsl(240, 5%, 91%);
					}
					.faq-box.active .ans{
						padding-top: 2px;
						padding-bottom: 12px;
						height: 100%;
						color: hsl(240, 6%, 50%);
						
					}
					.faq-box.active .questions{
						font-family: 'Kumbh Sans' !important;
						font-weight: 700;
						color: hsl(238, 29%, 16%) ;
					}
					.faq-box.active .questions::before{
						transform: rotate(180deg);
						transition: all 0.5s;
						top: 0%;
					}
				}
			}
			.faq-img-desktop::before{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -85px;
					
					content: url('./images/illustration-woman-online-desktop.svg')
				}
			
			
		}
		.faq-card::after{
              	top: 58%;
				left: -100px;
				transform: translateY(-50%);
                z-index: 1000;
				content: url('./images/illustration-box-desktop.svg');
				position: absolute;
				@media only screen and (max-width: 936px){
						display:none;
					}
			}
			.attribution{
				font-size: 12px;
				position: absolute;
				top: 97%;
				z-index: 1000;
			    left: 0%;
				width: 80%;
				margin: 0px 10%;
				right: 0%;
				text-align: center;
				@media only screen and (max-width: 397px){
					top:95%;
				}
				a{
					padding: 0px 0.25rem;
					text-decoration: none;
					color: #75b8ff;
					font-weight: bold;
				}
				a:hover{
					color:  #f2f2f2;
				}
			
			}
		}
	
}